---
name: Security Analysis with Bandit

on:
  push:
    branches:
      - main
    paths:
      - "src/**/*.py"
  pull_request:
    branches:
      - main
    paths:
      - "src/**/*.py"

jobs:
  security-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install bandit

      - name: Run Bandit for security checks
        run: |
          bandit -r src/
